.Button {
  position: relative;

  display: block;
  padding: 1.35em 2.14em;

  border-radius: var(--border-radius);
  border: none;

  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--dark);

  transition: background-color var(--duration);
  cursor: pointer;

  &_primary {
    background-color: var(--yellow);

    &:hover {
      background-color: var(--yellow-light);
    }

    &:focus {
      background-color: var(--yellow-light);
    }
  }

  &_secondary {
    background-color: transparent;
    border: 3px solid var(--yellow);

    &:hover {
      background-color: var(--yellow);
    }

    &:focus {
      background-color: var(--yellow);
    }
  }

  &:disabled {
    cursor: default;
    background-color: var(--gray);
  }
}
