@import './normalize.scss';
@import './fonts.scss';
@import '@shared/ui/vars.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat';
  font-weight: normal;
  line-height: normal;
  color: var(--dark);
  overflow: hidden auto;
  @include scrollbar;
}
