@import '@shared/ui/vars.scss';

.PostItem {
  display: flex;
  align-items: center;

  @include card;

  &__title {
    flex-shrink: 1;
    margin-left: 20px;

    color: inherit;
  }

  &__body {
    flex-shrink: 2;
    min-width: 1px;
    margin-left: 20px;

    overflow: hidden;

    color: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__link {
    flex-shrink: 0;
    margin-left: 20px;
  }
}

