@import '@shared/ui/vars.scss';

.BackButton {
  display: flex;
  align-items: center;
  justify-content: center;

  &__arrow {
    margin-right: 1em;

    transform: rotate(90deg);

    @include adpt-tab {
      margin-right: 0.5em;
    }

    path {
      fill: var(--dark);
    }
  }
}

